<div class="google-container">
    <div class="login-box">
        <app-login-box imageLink="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2f/Google_2015_logo.svg/2560px-Google_2015_logo.svg.png"></app-login-box>
    </div>

    <div class="google-itens">
        <ul class="list">
            <li class="item">Português (Brasil)</li>
            <li class="item">Ajuda</li>
            <li class="item">Privacidade</li>
            <li class="item">Termos</li>
        </ul>
    </div>
</div>