.card-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin: auto;
    width: 200px;
    height: 200px;
    gap: 25px;
}

h1.title {
    font-size: 32px;
    color: #111;
}

.img-container > img {
    max-width: 160px;
    max-height: 130px;
}