<div class="header-container">
    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 100 100">
        <circle cx="50" cy="50" r="40" stroke="black" stroke-width="3" fill="gray" />
    </svg>
      
    <ul class="list">
        <li class="social"><a href="https://linkedin.com/in/kingabreel" class="social-link">Linkedin</a></li>
        <li class="social"><a href="https://github.com/kingabreel" class="social-link">Github</a></li>
        <li class="social"><a href="mailto:gabrielsgonc.dev@gmail.com" class="social-link">Mail</a></li>
    </ul>
</div>