<div class="instagram-container" *ngIf="!registerAccount">
    <div class="image-container">
        <div class="background-img">
            <img src="https://static.cdninstagram.com/images/instagram/xig/homepage/phones/home-phones.png?__makehaste_cache_breaker=HOgRclNOosk">
        </div>
        <div class="img-change">
            <img src="#">
        </div>
    </div>

    <div class="login-box">
        <div class="login-container">
            <img src="https://freelogopng.com/images/all_img/1658587465instagram-name-logo.png" style="width: 200px;" class="instagram-logo">
            <div class="login-box">
                <form>
                    <input type="text" [(ngModel)]="loginName" [ngModelOptions]="{ standalone: true }" placeholder="Phone number, username, or email">
                    <input type="password" [(ngModel)]="pass" [ngModelOptions]="{ standalone: true }" placeholder="Password">
                    <button class="login-button" (click)="navigate()">Log in</button>
                </form>
            </div>
            <div class="division">
                <h1>OR</h1>
            </div>
            <div class="login-fb">
                <div class="login-fb_button">
                    <img style="width: 15px;" src="https://i.pinimg.com/originals/bc/20/72/bc2072d5808e62ea5182b73eab871de2.jpg">
                    <h1 class="fb-text">Log in with Facebook</h1>
                </div>
                <h1 (click)="register()">Forgot password?</h1>
            </div>
        </div>
        <div class="new-account">
            <p>Don't have an account? <a (click)="registerAccount = true">Sign up</a></p>
        </div>
    
        <div class="apps-container">
            <p>Get the app.</p>
            <div class="app-image">
                <img src="https://static.cdninstagram.com/rsrc.php/v3/yt/r/Yfc020c87j0.png">
                <img src="https://static.cdninstagram.com/rsrc.php/v3/yz/r/c5Rp7Ym-Klz.png">
            </div>
        </div>
    </div>

</div>

<div class="register-account-container" *ngIf="registerAccount">
    <app-insta-register></app-insta-register>
</div>
<footer>
    <div class="informations-footer">
        <a href="">Meta</a>
        <a href="">About</a>
        <a href="">Blog</a>
        <a href="">Jobs</a>
        <a href="">Help</a>
        <a href="">API</a>
        <a href="">Privacy</a>
        <a href="">Terms</a>
        <a href="">Location</a>
        <a href="">Instagram Lite</a>
        <a href="">Threads</a>
        <a href="">Contact Uploading & Non-Users</a>
        <a href="">Meta Verified</a>
    </div>

    <div class="ig-copywriting">
        <p>English</p>
        <p>&copy; 2023 Instagram from Meta</p>
    </div>
</footer>