<div class="register_page">
    <div class="register-container">
        <div class="img">
            <img src="https://freelogopng.com/images/all_img/1658587465instagram-name-logo.png" style="width: 200px;" class="instagram-logo">
        </div>

        <div class="text">
            <h1>Sign up to see photos and videos from your friends.</h1>
        </div>

        <div class="fb-login">
            <img style="width: 15px;" src="https://i.pinimg.com/originals/bc/20/72/bc2072d5808e62ea5182b73eab871de2.jpg">
            <h1 class="fb-text">Log in with Facebook</h1>
        </div>

        <div class="division">
            <h1>OR</h1>
        </div>

        <div class="inputs">
            <input type="text" placeholder="Mobile Number or Email">
            <input type="text" placeholder="Full Name">
            <input type="text" placeholder="Username">
            <input type="password" placeholder="Password">
        </div>

        <div class="informations">
            <h2>
                People who use our service may have uploaded your contact information to Instagram.
                <a href="#">Learn More</a>
            </h2>
            <h2>
                By signing up, you agree to our
                <a href="#">Terms</a>, 
                <a href="#">Privacy Policy</a>
                 and 
                <a href="#">Cookies Policy</a>
            </h2>
        </div>

        <div class="btn">
            <button>Sign up</button>
        </div>
    </div>

    <div class="login-box">
        <h1>Have an account? <a href="#">Log in</a></h1>
    </div>

    <h2 id="getApp">Get the app.</h2>
    <div class="app-image">
        <img src="https://static.cdninstagram.com/rsrc.php/v3/yt/r/Yfc020c87j0.png">
        <img src="https://static.cdninstagram.com/rsrc.php/v3/yz/r/c5Rp7Ym-Klz.png">
    </div>
</div>