<div class="loginBox-container">
    <div class="logo-container">
        <img src="{{imageLink}}" alt="#">
    </div>
    <div class="text-container">
        <h1>Fazer login</h1>
        <h2>Use sua Conta do Google</h2>
    </div>
    <div class="data-input">
        <input id="input" type="text" placeholder="    E-mail ou telefone">
        <h3 class="email-forget-text">Esqueceu sua e-mail?</h3>
    </div>

    <div class="help-text">
        <p>Não está no seu computador? Use uma janela privada para fazer login. <a>Saiba mais</a></p>
    </div>

    <div class="buttons">
        <button class="create-account">Criar conta</button>
        <button class="button-next_page">Avançar</button>
    </div>
</div>