<div class="pages-container">
    <app-card title="Google" imgLink="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2f/Google_2015_logo.svg/2560px-Google_2015_logo.svg.png"></app-card>
    <app-card title="Instagram" imgLink="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/768px-Instagram_logo_2016.svg.png"></app-card>
    <app-card title="Facebook" imgLink="https://upload.wikimedia.org/wikipedia/commons/6/6c/Facebook_Logo_2023.png"></app-card>
    <app-card title="Twitter" imgLink="https://www.phoronix.net/image.php?id=2023&image=twitter_x"></app-card>
</div>