.pages-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 150px;
    margin-top: 300px;
}

.pages-container > app-card {
    cursor: pointer;
}